<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
    <link rel='stylesheet' type='text/css' href='css/quotes.css'
  </head>
  <body>
    <a href='/'>Home</a>
    <h1>Check out all the awesome quotes!</h1>
    <% for(var i in quotes){ %>
      <div>
        <h3>"<%= quotes[i].quote %>"</h3>
        <h6>-<%= quotes[i].name %> on <%= quotes[i].date %></h6>
      </div>
    <% } %>
  </body>
</html>
